{% extends 'base.html' %}
{% load static %}

{% block title %}Pagina Principal{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/controls.css' %}">
{% endblock css %}
{% block javascript %}
    <script src="{% static 'js/getCookien.js' %}"></script>
    <script src="{% static 'js/requestEvent.js' %}"></script>
    <script src="{% static 'js/pusher.min.js' %}"></script>
    <script src="{% static 'js/controls.js' %}"></script>
{% endblock javascript %}
{% block content %}
{% csrf_token %}
<div class="log-box">
</div>
<div class="container-center">
    <div class="actions">
        <div class="operations">
            <button type="button" id="start">Iniciar</button>
            <button type="button" id="pause">Pausar</button>
            <button type="button" id="continue">Continuar</button>
            <button type="button" id="restart">Reiniciar</button>
        </div>
        <div class="includes">
            <button type="button">+1min</button>
            <button type="button">+2min</button>
            <button type="button">+3min</button>
            <button type="button">+4min</button>
            <button type="button">+5min</button>
        </div>
    </div>
</div>
{% endblock %}