{% extends 'base.html' %}
{% load static %}
{% block title %}Display do Relógio{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock css %}
{% block javascript %}
    <script src="{% static 'js/pusher.min.js' %}"></script>
    <script src="{% static 'js/display.js' %}"></script>
{% endblock javascript %}
{% block content %}
<div class="container-center">
    <div class="display">
        <div class="hours">00</div>
        <div>:</div>
        <div class="min">05</div>
        <div>:</div>
        <div class="sec">00</div>
    </div>
</div>
{% endblock %}