{% extends 'base.html' %}
{% load static %}

{% block title %}Pagina Principal{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock css %}
{% block javascript %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock javascript %}
{% block content %}
    <div class="container-center">
        <div class="menu">
            <a href="{% url 'display' %}" class="display">Relógio</a>
            <a href="{% url 'controls' %}" class="controls">Controles</a>
        </div>
    </div>
{% endblock %}