.container-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.includes, .operations {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    color: #fff;
    width: 100px;
    height: 100px;

    border-radius: 50%;
    text-align: center;
    margin: 10px;

    text-transform: uppercase;

    transition:  all 0.5s ease;
}

.includes button {
    background-color: #3498db;
}

.includes button:hover {
    background-color: #1c5b85;
}

#start { background-color: #2ecc71 }
#pause { background-color: #e74c3c }
#continue { background-color: #1abc9c; }
#restart { background-color: #e67e22; }

.operations button:hover {
    background-color: #fff!important;
    color: #000;
}

div.log-box {
    position: fixed;
    top: 0;
    left: 0;

    padding-top: 50px;
    overflow: auto;
    max-height: 200px;

    width: 100%;
}

div.log-box p {
    background-color: #3498db;
    color: white;

    padding: 10px;
    margin: auto;
    width: 70%;

    text-align: center;
    opacity: 0;

    transition: opacity 1s ease-in-out;
}

div.log-box p.show {
    opacity: 1;
}