.container-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.display {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 10px;
}

.display div {
    font-size: 10em;
    text-align: center;

    color: #fff;
}