.container-center {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.container-center .menu {
    display: flex;
    justify-content:space-around;

    padding: 100px;
    width: 100vw;
}

.container-center .menu a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2em;

    min-width: 33%;
    padding: 30px;
    border-radius: 10px;

    background-color: #3498db;
    color: white;

    transition: all 0.5s ease;
}

.container-center .menu a:hover {
    background-color: #2980b9;
}